<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/ocr-main.css" />

    <title>OCR CHECK</title>
  </head>
  <body>
    <table style="width: 100%">
      <tr>
        <td style="width: 49%; text-align: center">
          <h2
            style="
              text-align: center;
              color: #fff;
              margin-top: 350px;
              font-size: 30pt;
            "
          >
            OCR IDENTIFICATION
          </h2>

          <button
            class="button"
            style="width: 300px; height: 100px; font-size: large"
            onclick="location.href='take-picture'"
          >
            OCR IDENTIFICATION By Picture
          </button>
        </td>
        <!-- <td style="width: 49%; text-align: center;">
                <button class="button" style="width: 300px; height: 100px; font-size: large;" onclick="location.href='take-scan'">OCR IDENTIFICATION By Scan</button>
            </td>   -->
      </tr>
    </table>
  </body>
</html>
