		<div xmlns:th="http://www.thymeleaf.org" 
			 id="header">
            <div class="title">
                <a href="/home">GREEN WEBSITE</a>
            </div>
            <div class="links">			                      
            <th:block th:if="${session.loginuser == null}">
            	<a href="/account/login">로그인</a>
                <a href="/account/register">회원가입</a>
            </th:block>
            <th:block th:unless="${session.loginuser == null}">
            	[[${session.loginuser.memberId}]]님 환영합니다.
            	<a href="/account/logout">로그아웃</a>
            </th:block>
            </div>
        </div>
                
        <div id="menu">
            <div>
                <ul>
                    <li><a href="#">사용자관리</a></li>
					<li><a href="#">이메일</a></li>
					<li><a href="#">자료실</a></li>
					<li><a href="/board/list">게시판</a></li>
                </ul>
            </div>
		</div>