<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/demo.css">
    <title>Demo Home</title>
</head>
<body>

    <h2>Flask Web Examples</h2>
    <hr>
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <h3>1. GET 방식 요청 테스트</h3>
                <form action="request-data-test" method="GET">
                    이메일 : <input type="text" name="email"><br>
                    패스워드 : <input type="password" name="passwd"><br>
                    <input type="submit" value="GET 방식 전송">
                </form>
            
                <h3>2. POST 방식 요청 테스트</h3>
                <form action="request-data-test" method="POST">
                    이메일 : <input type="text" name="email"><br>
                    패스워드 : <input type="password" name="passwd"><br>
                    <input type="submit" value="POST 방식 전송">
                </form>
            
                <h3>3. GET 방식 요청 테스트 2</h3>
                <form action="request-data-test" method="GET">
                    이메일 : <input type="text" name="email"><br>
                    <input type="submit" value="GET 방식 전송 2">
                </form>
            
                <h3>4. 가위 바위 보 게임</h3>
                <!-- 가위 바위 보 선택 후 요청 -->
                <form action="game1" method="POST">
                    가위,바위,보 선택
                    <select name="selection">
                        <option value="1">가위</option>
                        <option value="2">바위</option>
                        <option value="3">보</option>
                    </select>
                    <br>
                    <input type="submit" value="겨루기">
                </form>

                <h3>5. 로또 당첨 예상 번호 뽑기</h3>
                <!-- 게임 수 입력 후 요청-->
                <form action="lotto" method="POST">
                    게임 수 : <input type="text" name="cnt">
                    <br>
                    <input type="submit" value="뽑기">
                </form>
            </td>
            <td style="width:50%">
                
                <h3>6. 파일 업로드</h3>
                <form action="upload-picture" method="post" enctype="multipart/form-data">
                    이미지 선택 : <input type="file" accept="image/*" name="picture">
                    <br>
                    <input type="submit" value="이미지 전송">
                </form>
            
                <h3>7. 데이터베이스에 데이터 저장</h3>
                <form action="save-data" method="post">
                    이메일 : <input type="text" name="email">
                    전화번호 : <input type="text" name="phone">
                    <br>
                    <input type="submit" value="데이터 저장">
                </form>
            
                <h3>8. 데이터베이스 데이터 조회</h3>
                <form action="load-data" method="get">
                    <input type="submit" value="데이터 조회">
                </form>

                <h3>9. 예측 모델 사용</h3>
                <form action="predict-species" method="post">
                    Sepal Length : <input type="text" name="sl"><br>
                    Sepal Width : <input type="text" name="sw"><br>
                    Petal Length : <input type="text" name="pl"><br>
                    Petal Width : <input type="text" name="pw"><br>                  
                    <input type="submit" value="품종 예측">
                </form>

                <h3>10. 예측 모델 사용 2 (MNIST)</h3>
                <form action="predict-number" method="post" enctype="multipart/form-data">
                    파일 : <input type="file" name="mnist"><br>
                    <input type="submit" value="숫자 예측">
                </form>

                <h3>11. <a href="take-picture">모델 사용 3</a></h3>

                <h3>12. <a href="take-picture2">모델 사용 4</a></h3>
            </td>            
        </tr>
    </table>



    
</body>
</html>