{% extends 'todo_base.html' %}

{% block title %}
	<title>Home</title>
{% endblock %}

{% block custom_css %}
	<link rel='Stylesheet' href='/static/styles/default.css' />
{% endblock %}

{% block main_content %}
		
		<div style="padding-top:25px;text-align:center">
		
			[ <a href="write">할일 작성</a> ]
			<br /><br />
			
			<table border="1" style="margin:0 auto">
				<tr style="background-color:orange;height:30px">
					<th style="width:100px">번호</th>
					<th style="width:300px">제목</th>
					<th style="width:125px">작성일</th>					
				</tr>
				{% for todo in todos %}
				<tr style="height:30px">
					<td style="text-align:center">{{ todo[0] }}</td>
					<td style="text-align:center">
						<a href="detail?idx={{todo[0]}}">{{ todo[1] }}</a>
					</td>
					<td style="text-align:center">{{ todo[2] }}</td>
				</tr>
				{% endfor %}
			</table>
			
		</div>

{% endblock %}