<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace : 패키지이름.클래스이름 ( 저장된 위치와 일치하도록 작성 ) -->
<mapper namespace="com.demoweb.mapper.BoardMapper">

	<insert id="insertBoard" parameterType="BoardDto"
			useGeneratedKeys="true" keyColumn="boardno" keyProperty="boardNo">
	INSERT INTO board (title, writer, content)
	VALUES (#{ title }, #{ writer }, #{ content })
	</insert>
	
	<insert id="insertBoard2" parameterType="BoardDto">
	<selectKey keyProperty="boardNo" resultType="int" order="AFTER">
	SELECT LAST_INSERT_ID()
	</selectKey>
	INSERT INTO board (title, writer, content)
	VALUES (#{ title }, #{ writer }, #{ content })
	</insert>

	<select id="selectBoardByPage" parameterType="hashmap" resultType="BoardDto">
	SELECT boardno, title, writer, readcount, regdate, deleted
	FROM board
	ORDER BY boardno DESC
	LIMIT #{ from },#{ count }
	</select>
	
	<select id="selectBoardCount" resultType="int">
	SELECT COUNT(*) FROM board
	</select>
	
	<!-- 상세보기 관련 매핑 1 : SQL과 객체 직접 매핑 ( 이름, 자료형 등이 반드시 일치 ) -->
	<!-- 
	<select id="selectBoardByBoardNo" parameterType="int" resultType="BoardDto">
	SELECT boardno, title, writer, content, readcount, regdate
	FROM board
	WHERE boardno = #{boardNo} AND deleted = FALSE
	</select>	
	<select id="selectBoardAttachByBoardNo" parameterType="int" resultType="BoardAttachDto">
	SELECT attachno, boardno, userfilename, savedfilename, downloadcount
	FROM boardattach
	WHERE boardno = #{ boardNo }
	</select>
	-->
	
	<!-- 상세보기 관련 매핑 2 : SQL과 객체 ResultMap을 통해 매핑 ( 이름, 자료형 등이 다른 경우 변환 설정 ) -->
	<!-- 
	<resultMap id="boardResultMap" type="BoardDto">
		<id column="boardno" property="boardNo" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="content" property="content" />
		<result column="readcount" property="readCount" />
		<result column="regdate" property="regDate" />
	</resultMap>
	<select id="selectBoardByBoardNo" parameterType="int" resultMap="boardResultMap">
	SELECT boardno, title, writer, content, readcount, regdate
	FROM board
	WHERE boardno = #{boardNo} AND deleted = FALSE
	</select>
	<resultMap id="boardAttachResultMap" type="BoardAttachDto">
		<id column="attachno" property="attachNo" />
		<result column="boardno" property="boardNo" />
		<result column="userfilename" property="userFileName" />
		<result column="savedfilename" property="savedFileName" />
		<result column="downloadcount" property="downloadCount" />
	</resultMap>
	<select id="selectBoardAttachByBoardNo" parameterType="int" resultMap="boardAttachResultMap">
	SELECT attachno, boardno, userfilename, savedfilename, downloadcount
	FROM boardattach
	WHERE boardno = #{ boardNo }
	</select>
	-->
	
	<!-- 상세보기 관련 매핑 3 : 두 개 이상의 조회를 결합해서 실행 ( ResultMap 호출 )  -->
	<!-- 
	<resultMap id="boardResultMap" type="BoardDto">
		<id column="boardno" property="boardNo" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="content" property="content" />
		<result column="readcount" property="readCount" />
		<result column="regdate" property="regDate" />
		<collection property="attachments" resultMap="boardAttachResultMap" column="attachno" />
	</resultMap>
	<select id="selectBoardByBoardNo" parameterType="int" resultMap="boardResultMap">
	SELECT b.boardno, b.title, b.writer, b.content, b.readcount, b.regdate,
		   ba.attachno, ba.userfilename, ba.savedfilename, ba.downloadcount
	FROM board b
	LEFT OUTER JOIN boardattach ba
	ON b.boardno = ba.boardno
	WHERE b.boardno = #{boardNo} AND b.deleted = FALSE
	</select>
	<resultMap id="boardAttachResultMap" type="BoardAttachDto">
		<id column="attachno" property="attachNo" />
		<result column="boardno" property="boardNo" />
		<result column="userfilename" property="userFileName" />
		<result column="savedfilename" property="savedFileName" />
		<result column="downloadcount" property="downloadCount" />
	</resultMap>
	<select id="selectBoardAttachByBoardNo" parameterType="int" resultMap="boardAttachResultMap">
	SELECT attachno, boardno, userfilename, savedfilename, downloadcount
	FROM boardattach
	WHERE boardno = #{ boardNo }
	</select>
	-->
	
	<!-- 상세보기 관련 매핑 4 : 두 개 이상의 조회를 결합해서 실행 ( 마이바티스 메서드 호출 )  -->
	<resultMap id="boardResultMap" type="BoardDto">
		<id column="boardno" property="boardNo" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="content" property="content" />
		<result column="readcount" property="readCount" />
		<result column="regdate" property="regDate" />
		<collection property="attachments" select="selectBoardAttachByBoardNo" column="boardno" />
	</resultMap>
	<select id="selectBoardByBoardNo" parameterType="int" resultMap="boardResultMap">
	SELECT boardno, title, writer, content, readcount, regdate
	FROM board b	
	WHERE boardno = #{boardNo} AND deleted = FALSE
	</select>	
	<select id="selectBoardAttachByBoardNo" parameterType="int" resultType="BoardAttachDto">
	SELECT attachno, boardno, userfilename, savedfilename, downloadcount
	FROM boardattach
	WHERE boardno = #{ boardNo }
	</select>
	

</mapper>











