<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>글상세보기</title>
	
	<link rel="Stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
	<link rel="Stylesheet" href="/styles/default.css">
	<link rel="Stylesheet" href="/styles/input.css">
</head>
<body>

	<div id="pageContainer">
	
		<div th:replace="~{/include/header}"></div>
		
		<div style="padding-top:25px;text-align:center">
		<div id="inputcontent">
		    <div id="inputmain">
		        <div class="inputsubtitle">게시글 정보</div>
		        
		        <table>
		            <tr>
		                <th>제목</th>
		                <td th:text="${ board.title }"></td>
		            </tr>
		            <tr>
		                <th>작성자</th>
		                <td>[[${ board.writer }]]</td>
		            </tr>
		            <tr>
		            	<th>조회수</th>
		            	<td>[[${ board.readCount }]]</td>
		            </tr>
		            <tr>
		            	<th>등록일자</th>
		            	<td>
		            		[[${ board.regDate }]]
		            		<br>
		            		[[${ #dates.format(board.regDate, "yyyy년 MM월 dd일") }]]
		            	</td>
		            </tr>
		            <tr>
		                <th>첨부파일</th>
		                <td>
		                <th:block th:each="attachment : ${ board.attachments }">
			                <a th:href="@{ download(attachNo=${ attachment.attachNo }) }" style="text-decoration: none">
			                   [[${ attachment.userFileName }]]
			                </a>
			                [['[' + ${ attachment.downloadCount } + ']']]
			                [[|[${ attachment.downloadCount }]|]]
			                <br>
			            </th:block>
		                </td>
		            </tr>
		            <tr>
		                <th>글내용</th>
						<td>
							[(${ #strings.replace(board.content, enter, "&lt;br&gt;") })]
						</td>
		            </tr>
		        </table>
		        <div class="buttons">
		        	<th:block th:if="${ session.loginuser != null and session.loginuser.memberId == board.writer }">
		        	<input type="button" id="update_button" value="편집" style="height:25px" />
		        	<input type="button" id="delete_button" value="삭제" style="height:25px" />
		        	</th:block>        	
		        	<input type="button" id="tolist_button" value="목록보기" style="height:25px" />
		        </div>
		    </div>
		</div>
		
	</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" th:inline="javascript">
	/* <![CDATA[ */
	$(function() {
		$('#tolist_button').on('click', function(event) {
			// location.href = 'list?pageNo=' + [[${ pageNo }]];
			// location.href = [[|list?pageNo=${ pageNo }|]];
			location.href = /*[[|list?pageNo=${ pageNo }|]]*/ "";
		});
		
		$('#delete_button').on('click', function(event) {
			// const ok = confirm(/*[[|${ board.boardNo }번 글을 삭제할까요?|]]*/);
			const ok = confirm(/*[(|'${ board.boardNo }번 글을 삭제할까요?'|)]*/);
			if (!ok) return;
			
			location.href = /*[(|'${board.boardNo}/delete?pageNo=${pageNo}'|)]*/ "";
		});
		
		$('#update_button').on('click', function(event) {
			location.href = /*[(|'edit?boardNo=${board.boardNo}&pageNo=${pageNo}'|)]*/ "";
		});		
		
	});
	/* ]]> */
	</script>

</body>
</html>










